# Dependencies
node_modules/

# Build output
dist/

# Vite
.vite/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
